

.taskform{
    margin: auto auto;
}

.tasklist{
  justify-content: center;
  margin: auto auto;
}

.task{
  border: 1px solid rgb(26, 139, 184);
  padding: 15px;
  margin-bottom: 10px;
}

.search-results { 
  height: 300px;   
  margin: auto;
  width: 60%;
  overflow-y: scroll;
}

.done{
  color: red;
}

.error{
  color: red;
  text-align: center;
  margin-left: 20px;
  margin-top: -10px;
}

.date{
  color: rgb(201, 4, 4);
}

.info-text{
  color: rgb(7, 106, 145);
  font-style: oblique;
}
